.container {
  width: 600px;
  padding: 50px;
}

.card {
  background-color: #fffcfc;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #333;
}

.cardHeader {
  background-color: #ea06c0;
  padding: 25px;
  border-radius: 10px;
  font-size: 19px;
  margin-bottom: 23px;
}

span.rating {
  background-color: rgb(61, 60, 60);
  color: rgb(12, 121, 205);
  padding: 12px 19px;
  border-radius: 24px;
  font-family: monospace;
}

span.name {
  margin-left: 20px;
  font-family: monospace;
  font-size: 30px;
}

span.icon {
  float: right;
  padding-top: 9px;
  cursor: pointer;
}

input.nameInput {
  width: 90%;
  padding: 10px 14px;
  font-size: 20px;
  margin: 10px 0px;
}

textarea.comment {
  width: 95%;
  height: 75px;
  font-size: 20px;
}

.sbt-btn {
  padding: 9px 22px;
  font-size: 20px;
  background-color: #1e1bd2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
